<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Arquivo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Enviar Arquivo</h2>
    <form th:object="${usuario}" method="post" enctype="multipart/form-data" th:action="@{/{id}(id=${usuario.id})/arquivo/upload}">
        <div class="form-group">
            <label for="arquivo">Escolha o arquivo:</label>
            <!-- Use th:field para associar ao nome do parâmetro esperado no controlador -->
            <input type="file" class="form-control-file" id="arquivo" th:field="*{arquivo}" name="arquivo" required>
        </div>
        <div class="form-group">
            <label for="url">URL do arquivo:</label>
            <input type="text" class="form-control" id="url" th:field="*{url}" name="url">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
</body>
</html>
