<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{header_home}">Home do Usuário</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
    </style>
</head>

<body th:object="${user}">
<div th:replace="~{header :: header}"></div>

<div class="container mt-5">
    <div class="text-center mb-4">
        <h2 class="text-primary" th:text="#{home_title(*{authUser.email})}"></h2>
    </div>

    <div class="card p-4 mb-4 shadow-sm">
        <div class="card-body">
            <p class="text-muted" th:text="${user.status}"></p>
            <p><strong th:text="#{telefone}"></strong> <span th:text="*{telefone}"></span></p>
            <p><strong th:text="#{data_criacao}"></strong> <span th:text="*{dataCriacao}"></span></p>
            <p><strong th:text="#{ultimo_login}"></strong> <span th:text="*{authUser.ultimoLogin}"></span></p>
            <p><strong th:text="#{container}"></strong> <span th:text="*{nomeContainer}"></span></p>
        </div>
    </div>

    <div th:if="${roles.contains('ROLE_USER')}">
        <div class="row text-center">
            <div class="col-md-6 mb-3">
                <a th:href="@{/{id}/arquivos(id=${user.id})}" class="btn btn-primary btn-block" th:text="#{listar_arquivos}"></a>
            </div>
            <div class="col-md-6 mb-3">
                <a th:href="@{/{id}/enviar_arquivo(id=${user.id})}" class="btn btn-primary btn-block" th:text="#{adicionar_arquivo}"></a>
            </div>
            <div class="col-md-6 mb-3">
                <a th:href="@{/{id}/insights/listar(id=${user.id})}" class="btn btn-primary btn-block" th:text="#{listar_insights}"></a>
            </div>
            <div class="col-md-6 mb-3">
                <form method="post" th:action="@{/{id}/analisar(id=${user.id})}">
                    <button type="submit" class="btn btn-primary btn-block" th:text="#{gerar_insight}"></button>
                </form>
            </div>
            <!-- Centralização do Botão Excluir Conta -->
            <div class="col-12 d-flex justify-content-center mb-3">
                <form method="post" th:action="@{/{id}/remover(id=${user.id})}" onsubmit="return confirm(confirmMessage);">
                    <button type="submit" class="btn btn-danger" th:text="#{excluir_conta}"></button>
                </form>
            </div>
        </div>
    </div>

    <div th:if="${roles.contains('ROLE_ADMIN')}" class="text-center mt-4">
        <a th:href="@{/all/usuarios}" class="btn btn-primary" th:text="#{listar_todos_usuarios}"></a>
    </div>

    <div class="text-center mt-4">
        <a th:href="@{/{id}/atualizar-usuario(id=${user.id})}" class="btn btn-primary mb-3" th:text="#{atualizar_perfil}"></a>
        <a th:href="@{/chat_gpt}" class="btn btn-warning mb-3">Fazer pergunta ao CHAT GPT</a>
        <form method="post" th:action="@{/logout}">
            <button type="submit" class="btn btn-secondary" th:text="#{logout}"></button>
        </form>
    </div>
</div>
</body>

</html>
