<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <!-- Adiciona o CSS do Bootstrap para estilização -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Container principal para centralizar o conteúdo -->
<div class="container mt-5">
    <h1 class="text-center">Bem-vindo ao Sistema de Cadastro</h1>
    <p class="text-center">Gerencie seus usuários de forma fácil e eficiente.</p>
    <!-- Botão que leva à página de cadastro de novo usuário -->
    <div class="text-center mt-4">
        <a href="/novo_usuario" class="btn btn-primary">Cadastrar Novo Usuário</a>
    </div>
    <div class="text-center mt-4">
        <a href="/teste" class="btn btn-primary">Teste</a>
    </div>
</div>

</body>
</html>
